# bundle exec jekyll serve --livereload

google_site_verification: JaqbsL2ORBsrCv_CWrS1JYjGABTeqVNw19uCbH6FqdM

title: eplots blog
email: p.stolpe@pm.me
description: >- # this means to ignore newlines until "baseurl:"
  A script-kiddies infosec blog.
twitter_username: eplots1
github_username: eplots
minimal_mistakes_skin: "dark"
search: true
future: false

# Build settings
markdown: kramdown
remote_theme: mmistakes/minimal-mistakes
# Outputting
permalink: /:categories/:title/
paginate: 5 # amount of posts to show
paginate_path: /page:num/
timezone: Europe/Stockholm
logo: "/assets/images/avatar_trans.png"
og_image: "/assets/images/avatar_black.png"

include:
  - _pages

# Exclude from processing.
# The following items will not be processed, by default. Create a custom list
# to override the default setting.
# exclude:
#   - Gemfile
#   - Gemfile.lock
#   - node_modules
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/

# Plugins (previously gems:)
plugins:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jemoji
  - jekyll-include-cache

author:
  name   : "eplots"
  avatar : "/assets/images/avatar_trans.png"
  bio    : "A script kiddie that wants to learn..."
  # location: "Over there"
  links:
    - label: "Website"
      icon: "fas fa-fw fa-link"
      url: "https://eplots.github.io"
    - label: "Twitter"
      icon: "fab fa-fw fa-twitter-square"
      url: "https://twitter.com/eplots1"
    - label: "GitHub"
      icon: "fab fa-fw fa-github"
      url: "https://github.com/eplots"
#    - label: "Instagram"
#      icon: "fab fa-fw fa-instagram"
#      url: "https://instagram.com/eplots" # change this to the right one before publishing!

footer:
  links:
    - label: "Twitter"
      icon: "fab fa-fw fa-twitter-square"
      url: "https://twitter.com/eplots1"
    - label: "GitHub"
      icon: "fab fa-fw fa-github"
      url: "https://github.com/eplots"
#    - label: "Instagram"
#      icon: "fab fa-fw fa-instagram"
#      url: "https://instagram.com/eplots" # change this to the right one before publishing!

date_format: "%d %B, %Y"

defaults:
  # _posts
  - scope:
      path: ""
      type: posts
    values:
      layout: single
      author_profile: true
      show_date: true
      read_time: true
      comments: false
      share: false
      related: false
      toc: true
      toc_sticky: true
      toc_icon: "server" # Other logos: https://fontawesome.com/v5.15/icons?d=gallery&p=2&s=solid&m=free
      toc_label: "Content"
  # _pages
  - scope:
      path: "_pages"
      type: pages
    values:
      layout: single
      author_profile: false

category_archive:
  type: liquid
  path: /categories/
tag_archive:
  type: liquid
  path: /tags/

github: [metadata]
